Without Python/Node-Red (AutoAI) flows.json
[{"id":"6ab5193f.e157f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"68b41db7.923184","type":"ui_form","z":"6ab5193f.e157f8","name":"","label":"","group":"1870a8b7.4c8f07","order":1,"width":0,"height":0,"options":[{"label":"Country","value":"a","type":"text","required":true,"rows":null},{"label":"Year","value":"b","type":"number","required":true,"rows":null},{"label":"Status","value":"c","type":"text","required":true,"rows":null},{"label":"Adult Mortality","value":"d","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"e","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"f","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"g","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"h","type":"number","required":true,"rows":null},{"label":"Measles","value":"i","type":"number","required":true,"rows":null},{"label":"BMI","value":"j","type":"number","required":true,"rows":null},{"label":"Under five deaths","value":"k","type":"number","required":true,"rows":null},{"label":"Polio","value":"l","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"m","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"n","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"o","type":"number","required":true,"rows":null},{"label":"GDP","value":"p","type":"number","required":true,"rows":null},{"label":"Population","value":"q","type":"number","required":true,"rows":null},{"label":"Thinness 1-19 years","value":"r","type":"number","required":true,"rows":null},{"label":"Thinness 5-9 years","value":"s","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"t","type":"number","required":true,"rows":null},{"label":"Schooling","value":"u","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":"","u":""},"payload":"","submit":"Predict","cancel":"Cancel","topic":"","x":90,"y":340,"wires":[["5ca396bd.e882b8"]]},{"id":"5ca396bd.e882b8","type":"function","z":"6ab5193f.e157f8","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\nglobal.set(\"u\",msg.payload.u);\n\nvar apikey = \"DH7lnMKxjrT_tHoA8D1W8dwOoa25mmS-Q8TzdA5JCdTK\";\nmsg.headers = {\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload = {\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":220,"wires":[["c13ac7ea.997328"]]},{"id":"c13ac7ea.997328","type":"http request","z":"6ab5193f.e157f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":120,"wires":[["6b06761d.d15048"]]},{"id":"a4a2a872.d2cd08","type":"debug","z":"6ab5193f.e157f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":610,"y":400,"wires":[]},{"id":"6b06761d.d15048","type":"function","z":"6ab5193f.e157f8","name":"pre prediction","func":"var token = msg.payload.access_token;\nvar instance_id = \"2056c4f7-259c-4481-bc5b-9337f8311ec5\";\nmsg.headers = {\"Content-Type\": \"application/json\",\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id};\n\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\nvar u = global.get(\"u\");\n\nmsg.payload = {\"input_data\": [{\"fields\": [\"Country\", \"Year\", \"Status\", \"Adult Mortality\", \"Infant deaths\", \"Alcohol\", \"Percentage expenditure\", \"Hepatitis B\", \"Measles\", \"BMI\", \"Under-five deaths\", \"Polio\", \"Total expenditure\", \"Diphtheria\", \"HIV/AIDS\", \"GDP\", \"Population\", \"Thinness 1-19 years\", \"Thinness 5-9 years\", \"Income composition of resources\", \"Schooling\"], \"values\": [[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u]]}]};\n\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":400,"wires":[["db8d8228.76e99"]]},{"id":"db8d8228.76e99","type":"http request","z":"6ab5193f.e157f8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/8b729476-931c-47f0-9ee1-d62ac5ee45e8/predictions","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":240,"wires":[["a4a2a872.d2cd08","d869d7b.0cdbd28"]]},{"id":"d869d7b.0cdbd28","type":"function","z":"6ab5193f.e157f8","name":"retrieving prediction","func":"msg.payload = msg.payload.predictions[0].values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["e072b86d.1325b8"]]},{"id":"e072b86d.1325b8","type":"ui_text","z":"6ab5193f.e157f8","group":"1870a8b7.4c8f07","order":2,"width":0,"height":0,"name":"prediction","label":"Life Expectancy Prediction: ","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":240,"wires":[]},{"id":"1870a8b7.4c8f07","type":"ui_group","z":"","name":"Default","tab":"ba44253.99c29d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ba44253.99c29d8","type":"ui_tab","z":"","name":"Life Expectancy Prediction without Python using AutoAI","icon":"dashboard","disabled":false,"hidden":false}]