With python/flows.json
[{"id":"bbc51c7a.a4b07","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"21f499af.fb1c56","type":"ui_form","z":"bbc51c7a.a4b07","name":"","label":"","group":"69f91256.d5214c","order":0,"width":"6","height":"10","options":[{"label":"Adult Mortality","value":"a","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"b","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"c","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"d","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"e","type":"number","required":true,"rows":null},{"label":"Measles ","value":"f","type":"number","required":true,"rows":null},{"label":" BMI ","value":"g","type":"number","required":true,"rows":null},{"label":"Under-Five Deaths ","value":"h","type":"number","required":true,"rows":null},{"label":"Polio","value":"i","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"j","type":"number","required":true,"rows":null},{"label":"Diphtheria ","value":"k","type":"number","required":true,"rows":null},{"label":" HIV/AIDS","value":"l","type":"number","required":true,"rows":null},{"label":"GDP","value":"m","type":"number","required":true,"rows":null},{"label":"Population","value":"n","type":"number","required":true,"rows":null},{"label":" Thinness  1-19 years","value":"o","type":"number","required":true,"rows":null},{"label":" Thinness 5-9 years","value":"p","type":"number","required":true,"rows":null},{"label":"Income Composition of Resources","value":"q","type":"number","required":true,"rows":null},{"label":"Schooling","value":"r","type":"number","required":true,"rows":null},{"label":"Developed","value":"s","type":"number","required":true,"rows":null},{"label":"Developing","value":"t","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":"","r":"","s":"","t":""},"payload":"","submit":"Predict","cancel":"Clear","topic":"","x":70,"y":100,"wires":[["3aabfb0a.7dde14"]]},{"id":"3aabfb0a.7dde14","type":"function","z":"bbc51c7a.a4b07","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\nglobal.set(\"r\",msg.payload.r);\nglobal.set(\"s\",msg.payload.s);\nglobal.set(\"t\",msg.payload.t);\n\n\n\n\n\n\n\n//following are required to receive a token\nvar apikey=\"nqxJBMH5_PzTSzf0H8r6k6QRFwUWTfdTIeAKJjXZ1wTe\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["eac2ef6b.55aa9"]]},{"id":"64629cff.178554","type":"http request","z":"bbc51c7a.a4b07","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/e767ebd7-2d79-4749-a023-ae57bc09860e/deployments/0018b28d-9515-4e67-be74-bf4f50898ea8/online","tls":"","persist":false,"proxy":"","authType":"","x":610,"y":220,"wires":[["3809b179.75b81e"]]},{"id":"e03d8f7e.09525","type":"debug","z":"bbc51c7a.a4b07","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":240,"wires":[]},{"id":"3809b179.75b81e","type":"function","z":"bbc51c7a.a4b07","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":300,"wires":[["e03d8f7e.09525","a4eb6e52.e015e"]]},{"id":"676b477f.56bf88","type":"function","z":"bbc51c7a.a4b07","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"e767ebd7-2d79-4749-a023-ae57bc09860e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\nvar r = global.get(\"r\");\nvar s = global.get(\"s\");\nvar t = global.get(\"t\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":['Adult Mortality', 'Infant deaths', 'Alcohol',\n       'Percentage Expenditure', 'Hepatitis B', 'Measles ', ' BMI ',\n       'Under-Five Deaths ', 'Polio', 'Total Expenditure', 'Diphtheria ',\n       ' HIV/AIDS', 'GDP', 'Population', ' Thinness  1-19 years',\n       ' Thinness 5-9 years', 'Income Composition of Resources', 'Schooling',\n       'Developed', 'Developing'],\n\"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["64629cff.178554"]]},{"id":"eac2ef6b.55aa9","type":"http request","z":"bbc51c7a.a4b07","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":80,"wires":[["676b477f.56bf88"]]},{"id":"a4eb6e52.e015e","type":"ui_text","z":"bbc51c7a.a4b07","group":"69f91256.d5214c","order":1,"width":"0","height":"0","name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":360,"wires":[],"icon":"font-awesome/fa-bar-chart-o"},{"id":"69f91256.d5214c","type":"ui_group","z":"","name":"Machine Learning Model","tab":"9f83789b.debbe8","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f83789b.debbe8","type":"ui_tab","z":"","name":"Home Page","icon":"dashboard","disabled":false,"hidden":false}]